body {
    background-color: whitesmoke;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1{
  font-style: italic;
  font-size: 100px;
  margin: 0px, 0px, 75px, 0px;
  color: red
  
    
}

h2{
    font-style: italic;
	font-size: 30px;
	color: red;
	position: relative;
	margin-top: 30px;
	margin-bottom: 15px;
    padding-bottom: 20px;
    border-style: solid;
    border-color: white;

}

pre{
    font-size: 100%;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: left;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-size: 20px;
    
}

.col-3{
    padding: 0px, 0px, 20px,0px;
}